*{
    margin:0;
    padding:0
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: rgb(10, 16, 77);
    font-size: 3rem;
    margin-top: 1rem;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.4);
   font-size: 9vmin;
   color: #b0413e;
   background-color: #ffffc7;
}
#reset-btn {
    padding: 1rem;
    width:9rem;
    font-size: 18px;
    background-color: #162248;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-button{
    padding: 1rem;
    width:9rem;
    font-size: 18px;
    background-color: #162248;
    color: white;
    border-radius: 1rem;
    border: none;   
}
#first{
    color:#568159;
    font-size: 4rem;
}
.msg-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}